<!DOCTYPE html>
<html>
  <head>
    <title>Bnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=GETKEY"  %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.tokyoURL = "<%= image_url('tokyo.jpg') %>";
      window.londonURL = "<%= image_url('london.jpg') %>";
      window.bostonURL = "<%= image_url('boston.jpg') %>";
      window.sydneyURL = "<%= image_url('sydney.jpg') %>";
      window.newyorkURL = "<%= image_url('newyork.jpg') %>";
      window.buenosairesURL = "<%= image_url('buenosaires.jpg') %>";
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!-- listing.photos.attach(io: File.open("/Users/aa/Desktop/photos/listing8pic1.jpg"), filename: "listing8pic1.jpg")   -->
