<!DOCTYPE html>
<html>
  <head>
    <title>Bnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=GETKEY"  %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
